body {
  background-image: url(../images/background2.JPG);
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Comic Neue", cursive;
}

@media (max-width: 414px) {

  html {
    width: 600px;
  }

  h2 {
    font-size: 10px;
  }

  form {
    padding: 40px 100px !important;
  }

  label {
    font-size: 30px !important;
  }
}

h2 {
  font-weight: bold;
  color: white;
  font-size: 50px;
}

form {
  background-color: white;
  padding: 40px 130px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(193, 165, 242), 0 0 5px rgb(193, 165, 242),0 0 5px rgb(193, 165, 242);
}

label {
  font-size: 22px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}

input, select, textarea {
  font-size: 17px;
  margin-top: 13px;
  margin-bottom: 20px;
  width: 250px;
  height:30px;
  padding-left: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(155, 155, 155);
  color: rgb(117, 96, 199);
  font-family: "Comic Neue", cursive;
}

select {
  width: 270px;
  height: 35px;
}

textarea {
  width: 250px;
  height:100px;
  padding-top: 5px;
}

button {
  font-family: "Comic Neue", cursive;
  background-color: rgb(228, 215, 243);
  border-style: solid;
  border-color: rgb(100, 72, 193);
  color: rgb(100, 72, 193);;
  padding: 20px 30px;
  margin-top: 50px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.15s;
}

button:hover {
  opacity: 0.8;
}